@model IEnumerable<Student>

<div class="container my-5">
    <div class="card border-0">
        <div class="card-header text-white text-center py-4" style="background-color:var(--bs-primary)">
            <h2>Student's List</h2>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-12 text-end">

                    <a asp-controller="Student" asp-action="Create" class="btn btn-success">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                        </svg>
                        Create New Student
                    </a>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-striped align-middle">
                    <thead class="table-dark">
                        <tr>
                            <th>FullName</th>
                            <th>StudentId</th>
                            <th>Degree</th>
                            <th>Major</th>
                            <th> State </th>
                            <th> Edit </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var student in Model)
                        {
                            <tr>
                                <td>@student.FullName</td>
                                <td>@student.StudentId.ToString()</td>
                                <td>@student.Degree</td>
                                <td>@student.Major</td>
                                <td>@student.State</td>
                                <td>
                                    <div class=" w-75 btnbtn-group" role="group">
                                        <a asp-controller="Student" asp-action="Update" asp-route-studentId="@student.StudentId"
                                            class="btn btn-success mx-2">
                                            <i class="bg bi-pencil-square"></i> Update
                                        </a>
                                        <a asp-controller="Student" asp-action="Delete" asp-route-studentId="@student.StudentId"
                                           class="btn btn-danger mx-2">
                                            <i class="bg bi-trash-fill"></i> Delete
                                        </a>

                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
