@model UniCourseSelect.ViewModels.ProfessorVM

<div class="w-100 card border-0 p-4">
    <div class="card-header m-lg-0 py-3" style="background-color: var(--bs-primary)">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">
                    Update Professor
                </h2>
            </div>
        </div>
    </div>
    <div class="card-body border p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly"></div>
            <input asp-for="Professor.UniqueMemberId" hidden />


            <div class="form-floating py-1">
                <input asp-for="@Model.Professor.FullName" class="form-control border shadow" />
                <label asp-for="@Model.Professor.FullName" class=" ms-2"> </label>
                <span asp-validation-for="@Model.Professor.FullName" class=" text-danger"></span>
            </div>

            @* <div class="form-floating py-1"> *@
            @*     <input asp-for="StudentId" class="form-control border shadow" /> *@
            @*     <label asp-for="StudentId" class=" ms-2"> </label> *@
            @*     <span asp-validation-for="StudentId" class=" text-danger"></span> *@
            @* *@
            @* </div> *@


            
            <div class="form-floating py-1 col-12">
                <select asp-for="@Model.Professor.DepartmentId" asp-items="@Model.DepartmentList"
                        class="form-select border shadow">
                    <option disabled selected>--Select Faculty--</option>
                </select>
                <label asp-for="Professor.DepartmentId" class="ms-2"></label>
                <span asp-validation-for="Professor.DepartmentId" class="text-danger"></span>
            </div>

            <div class="form-floating py-1 col-12">
                <select asp-for="@Model.Professor.State" asp-items="@Model.StateList"
                        class="form-select border shadow">
                    <option disabled selected>--Select State--</option>
                </select>
                <label asp-for="Professor.State" class="ms-2"></label>
                <span asp-validation-for="Professor.State" class="text-danger"></span>
            </div>

            <div class=" row pt-2">
                <div class=" col-6 col-md-3">
                    <button type="submit" class=" btn btn-success w-100">
                        <i class="bi bi-check-circle"></i> Create
                    </button>
                </div>
                <div class=" col-6 col-md-3">
                    <a asp-controller="Professor" asp-action="Index" class=" btn btnalert-secondary w-100">
                        <i class=" bg-info bi-x-circle"></i> Cancel
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}